# Exercise W7D1: Review and Putting it All Together

This exercise aims to draw together the topics we have covered in the _Base Camp_ portion of the Digital Methods class. At the end of the exercise, you should have a `DataFrame` with each row containing information on a Twitter account including their tweets, friends, followers, hashtags and mentions as well as some descriptive statistics.

You will be able to reuse and modify this code for the second half of digital methods to download and analyze tweets for your projects. So, this exercise should provide you with a solid review of different things we have learned and help you for the the rest of the course.

**Exercise 1. Identify a topic, authenticate, and get data.** First, identify a topic of interest to you and think about a keyword or hashtag capturing the topic. Possible topics could be Corona or Climate, but you are welcome to choose something else. Then load the `tweepy` module and use the built-in functionality to `search` Twitter for your keyword or hashtag. Create a variable that contains the data returned by your search.

See [here](http://docs.tweepy.org/en/latest/api.html#help-methods) for more information about the `search` method.

In [101]:
import sys

In [102]:
import tweepy
print(tweepy.__version__)

3.8.0

In [103]:
from AppCred import CONSUMER_KEY, CONSUMER_SECRET
from AppCred import ACCESS_TOKEN, ACCESS_TOKEN_SECRET

In [104]:
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)

In [105]:
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)

In [106]:
api = tweepy.API(auth)

In [107]:
#api.update_status("Farvel")

In [108]:
Mette = api.search("Mette Frederiksen")
#print(Mette)

In [109]:
mette_tweets = []
for element in Mette:
    #Her går vi ind i hele ovenstående search og looper igennem. 
    #så looper vi igennem
    print(element._json["text"])
    #Her printer vi altså alle tekst afsnit!
    a=element._json["text"]
    mette_tweets.append(a)

Statsministeren afviser på Facebook, at hun har forbudt folk at tage i sommerhus.
https://t.co/67udwMuIEi
#COVID19dk #dkpol
Godmorgen!

Vi er halvvejs igennem endnu en surrealistisk uge.

Morgenposten udkommer, som den plejer, og du kan fi… https://t.co/rK4pa29Sfa
RT @skaarup_df: Ansatte på asylcentrene og de politibetjente, der skal fragte dem rundt, udsættes for helt unødig smitterisiko. Hvorfor luk…
Må man godt tage i sommerhus? Ekspert forklarer risici ved at rejse i Danmark, https://t.co/oJbm3BEwn4: https://t.co/GmsYBylWSL
Må man godt tage i sommerhus? Ekspert forklarer risici ved at rejse i Danmark, https://t.co/CRKgV965pR: https://t.co/S40PV0I9eo
RT @AllonHSorensen: Et samfund der er så skrøbeligt i sin økonomiske struktur, at få ugers neddrosling i aktiviteter, handel mm. får konsek…
Det ømme punkt: Regeringen er træt af coronageneralens tvetydighed Mette Frederiksen viser, at hendes opgør med træ… https://t.co/oiTMvfjpa1
Må man godt tage i sommerhus i påsken? Sommerhusudlejere beder Mette Frederiksen om en præcis melding Hvis stoppet… https://t.co/7POirgXxQw
RT @moelhoej: Statsminister Mette Frederiksen @regeringDK er ikke på Twitter ? Men på Facebook ! #dkpol #dkmedier #COVID19dk #coronadk #dkf…
Statsminister Mette Frederiksen @regeringDK er ikke på Twitter ? Men på Facebook ! #dkpol #dkmedier #COVID19dk… https://t.co/O8050tvIkU
@listighjort Og hvad lavede Peter Mygind i politiuniform bag Mette Frederiksen?
Mette Frederiksen: Ikke forbudt at tage i sommerhus, men ... https://t.co/ExC9Lu6Qd1 https://t.co/FE7qkLy30C
Mette Frederiksen: Ikke forbudt at tage i sommerhus, men ... https://t.co/VNFJHYQpCU https://t.co/bm11MJiqEH
@kristeligt Ja, troen og evangeliet finder veje!
Men det siger meget om kirkens marginalisering - og statsministere… https://t.co/fzWinslp5X
RT @AllonHSorensen: Et samfund der er så skrøbeligt i sin økonomiske struktur, at få ugers neddrosling i aktiviteter, handel mm. får konsek…

In [110]:
mette_tweets
#Lidt svært at forstå, hvorfor der ikke kommer flere tweets?

['Statsministeren afviser på Facebook, at hun har forbudt folk at tage i sommerhus.\nhttps://t.co/67udwMuIEi\n#COVID19dk #dkpol',
 'Godmorgen!\n\nVi er halvvejs igennem endnu en surrealistisk uge.\n\nMorgenposten udkommer, som den plejer, og du kan fi… https://t.co/rK4pa29Sfa',
 'RT @skaarup_df: Ansatte på asylcentrene og de politibetjente, der skal fragte dem rundt, udsættes for helt unødig smitterisiko. Hvorfor luk…',
 'Må man godt tage i sommerhus? Ekspert forklarer risici ved at rejse i Danmark, https://t.co/oJbm3BEwn4: https://t.co/GmsYBylWSL',
 'Må man godt tage i sommerhus? Ekspert forklarer risici ved at rejse i Danmark, https://t.co/CRKgV965pR: https://t.co/S40PV0I9eo',
 'RT @AllonHSorensen: Et samfund der er så skrøbeligt i sin økonomiske struktur, at få ugers neddrosling i aktiviteter, handel mm. får konsek…',
 'Det ømme punkt: Regeringen er træt af coronageneralens tvetydighed Mette Frederiksen viser, at hendes opgør med træ… https://t.co/oiTMvfjpa1',
 'Må man godt tage i sommerhus i påsken? Sommerhusudlejere beder Mette Frederiksen om en præcis melding Hvis stoppet… https://t.co/7POirgXxQw',
 'RT @moelhoej: Statsminister Mette Frederiksen @regeringDK er ikke på Twitter ? Men på Facebook ! #dkpol #dkmedier #COVID19dk #coronadk #dkf…',
 'Statsminister Mette Frederiksen @regeringDK er ikke på Twitter ? Men på Facebook ! #dkpol #dkmedier #COVID19dk… https://t.co/O8050tvIkU',
 '@listighjort Og hvad lavede Peter Mygind i politiuniform bag Mette Frederiksen?',
 'Mette Frederiksen: Ikke forbudt at tage i sommerhus, men ... https://t.co/ExC9Lu6Qd1 https://t.co/FE7qkLy30C',
 'Mette Frederiksen: Ikke forbudt at tage i sommerhus, men ... https://t.co/VNFJHYQpCU https://t.co/bm11MJiqEH',
 '@kristeligt Ja, troen og evangeliet finder veje!\nMen det siger meget om kirkens marginalisering - og statsministere… https://t.co/fzWinslp5X',
 'RT @AllonHSorensen: Et samfund der er så skrøbeligt i sin økonomiske struktur, at få ugers neddrosling i aktiviteter, handel mm. får konsek…']

In [111]:
len(Mette)

15

In [112]:
type(Mette)

tweepy.models.SearchResults

Now we have an object containing a number of tweets pertaining to our topic of interest. As you might remember, by default the Twitter API returns the data to us in JSON format. Now that we know about the elegance and beauty of `DataFrames`, we would prefer to work with that format of data rather than a dictionary-style JSON.

**Exercise 2. Turn raw API data into a DataFrame.** Your search returned a set of tweets about your chosen topic. Construct a `DataFrame` from your Twitter search object of the people who are tweeting about that topic that, at minimum, contains the unique `screen_names`, `followers_count`, `friends_count`, and `statuses_count` returned from your search. 

There are a number of ways to do this so you might want to review how to construct `DataFrames` (W6D1-Demo). You may also want to review navigating JSON objects (W4D2-Exercise_solutions). Also, your returned data might include the same account multiple times, so you will want to make sure that you are listing the account only once in your `DataFrame`.

In [113]:
import pandas as pd
import numpy as np
#her går vi over til at arbejde med dataframes i stedet for json

In [114]:
#Now we want to create lists containing e.g. followers, friends etc. 
names = []
screen_names = []
id_str = []
location = []
description = []
followers_count = []
friends_count = []
statuses_count = []
created_at = []

In [115]:
for tweet in Mette:
    if (tweet._json['user']['screen_name'] not in screen_names):
        names.append(tweet._json['user']['name'])
        screen_names.append(tweet._json['user']['screen_name'])
        id_str.append(tweet._json['user']['id'])
        location.append(tweet._json['user']['location'])
        description.append(tweet._json['user']['description'])
        followers_count.append(tweet._json['user']['followers_count'])
        friends_count.append(tweet._json['user']['friends_count'])
        statuses_count.append(tweet._json['user']['statuses_count'])
        created_at.append(tweet._json['user']['created_at'])

In [116]:
print(screen_names)

['tvmidtvest', 'berlingske', 'cside69', 'detstuerene', 'deviralenyheder', 'baralmueller', 'DanmarksNyheder', 'jensolrik', 'moelhoej', 'MortenBuschmann', 'jppolitik', 'jyllandsposten', 'JensOleChriste3', 'JensRas77511670']

In [117]:
print(friends_count)

[129, 529, 639, 5, 5, 196, 14, 247, 4238, 317, 732, 549, 351, 1940]

In [118]:
print(statuses_count)

[18252, 95101, 2333, 40879, 67701, 764, 70738, 1771, 33917, 9539, 22931, 174241, 282, 19349]

In [119]:
print(created_at)

['Sun Dec 21 17:27:04 +0000 2008', 'Thu Jun 05 19:23:44 +0000 2008', 'Mon Jul 20 07:20:07 +0000 2009', 'Wed Apr 10 12:09:12 +0000 2013', 'Thu Nov 15 22:59:39 +0000 2012', 'Tue Jan 09 10:40:02 +0000 2018', 'Thu Jan 22 10:00:17 +0000 2015', 'Sun Jun 18 12:48:46 +0000 2017', 'Mon Jul 27 10:59:22 +0000 2009', 'Fri Mar 27 10:49:07 +0000 2009', 'Tue Mar 31 13:59:00 +0000 2015', 'Mon Mar 16 08:05:20 +0000 2009', 'Mon Jan 30 15:25:42 +0000 2017', 'Mon Jun 25 13:27:14 +0000 2018']

In [120]:
print(location)

['Midt- og Vestjylland', 'Danmark', 'A place called Vertigo', '', '', 'København, Danmark', 'Danmark', 'Hovedstaden, Danmark', 'Copenhagen, Denmark', 'Copenhagen', 'Christiansborg', 'Denmark', 'Hovedstaden, Danmark', 'Danmark']

In [121]:
print(description)

['De bedste og vigtigste nyheder og stærke tv-programmer fra Midt- og Vestjylland | Kontakt os på redaktionen@tvmidtvest.dk eller +45 96121212', 'Håndplukkede nyheder siden 1749. Men stadig utroligt frisk. // Berlingske is one of the leading newspapers in Denmark. Published in Copenhagen since 1749.', 'Manchester United fan since 1982', 'Nyhederne fra #dkmedier (uden de tabloide) vi deler, anbefaler og kommenterer på Facebook. Udviklet af @fiwa.', 'Nyhederne fra #dkmedier vi deler, anbefaler og kommenterer på Facebook. Udviklet af @fiwa.', 'Microsoft Azure Administrator Associate | Powershell | Ansible | Tech | Crypto Assets | Environmentalist | Proud father of 3', 'Danmark - nyheder og debat', '#startup, #dkpol #dkfinans #sldk #pldk #YNWA #København #Danmark #marketing #dkøko #Erhverv #Business #Investering #iværksætter #Vallensbæk', 'Danmarks bedste twitter profil i mange år #dkmedier #dkfinans #startup Twitter since 27. Jul 2009 #olrikcompany #RickyGervais #Danmark #Copenhagen #TikTok', 'Krat, buskmand, journalist, Forfatter: Indhenter, Medløber, Udstikker, Skygger & De Uskyldige. https://t.co/8Fd6Re2X5o', '@Jyllandsposten’s redaktion på Borgen. Tweeter om alt, der lugter af #dkpol. Nyheder, analyser og aktuelle kommentarer. FB: https://t.co/GNrs2n9qlL', 'Følg Danmarks internationale avis, hvis du vil vide og tweete mere. Tophistorier fra https://t.co/N73cBE0XyI og retweets fra journalister.', 'Præst og skribent. Twitter om tro, kultur, politik og værdier', 'Vi er naturelskere, vi er klimakrigere, vi er hverdagsaktivister, vi er nytænkere, vi er optimister, vi er ordentlige, vi er sjove, vi er seriøse,']

In [122]:
Mette_dictionary = {
    "name": names,
    "screen_name": screen_names,
    "id_str": id_str,
    "location": location,
    "description": description,
    "followers_count": followers_count,
    "friends_count": friends_count,
    "statuses_count": statuses_count,
    "created_at": created_at
}

In [123]:
Mette_df = pd.DataFrame(Mette_dictionary)
Mette_df

,name,screen_name,id_str,location,description,followers_count,friends_count,statuses_count,created_at
0,TV MIDTVEST,tvmidtvest,18288708,Midt- og Vestjylland,De bedste og vigtigste nyheder og stærke tv-pr...,3247,129,18252,Sun Dec 21 17:27:04 +0000 2008
1,Berlingske,berlingske,15022190,Danmark,Håndplukkede nyheder siden 1749. Men stadig ut...,136946,529,95101,Thu Jun 05 19:23:44 +0000 2008
2,Claus Nielsen,cside69,58415869,A place called Vertigo,Manchester United fan since 1982,51,639,2333,Mon Jul 20 07:20:07 +0000 2009
3,Det stuerene,detstuerene,1341760441,,Nyhederne fra #dkmedier (uden de tabloide) vi ...,555,5,40879,Wed Apr 10 12:09:12 +0000 2013
4,De virale nyheder,deviralenyheder,950601552,,"Nyhederne fra #dkmedier vi deler, anbefaler og...",3208,5,67701,Thu Nov 15 22:59:39 +0000 2012
5,Logos21th,baralmueller,950678546195853312,"København, Danmark",Microsoft Azure Administrator Associate | Powe...,50,196,764,Tue Jan 09 10:40:02 +0000 2018
6,DanmarksNyheder,DanmarksNyheder,2991802408,Danmark,Danmark - nyheder og debat,312,14,70738,Thu Jan 22 10:00:17 +0000 2015
7,Jens Mølhøj Olrik,jensolrik,876421430052884482,"Hovedstaden, Danmark","#startup, #dkpol #dkfinans #sldk #pldk #YNWA #...",80,247,1771,Sun Jun 18 12:48:46 +0000 2017
8,OLRIK COMPANY,moelhoej,60563971,"Copenhagen, Denmark",Danmarks bedste twitter profil i mange år #dkm...,3820,4238,33917,Mon Jul 27 10:59:22 +0000 2009
9,Morten Buschmann,MortenBuschmann,26982966,Copenhagen,"Krat, buskmand, journalist, Forfatter: Indhent...",299,317,9539,Fri Mar 27 10:49:07 +0000 2009
10,JP Politik,jppolitik,3130794100,Christiansborg,@Jyllandsposten’s redaktion på Borgen. Tweeter...,12096,732,22931,Tue Mar 31 13:59:00 +0000 2015
11,Jyllands-Posten,jyllandsposten,24665133,Denmark,"Følg Danmarks internationale avis, hvis du vil...",44269,549,174241,Mon Mar 16 08:05:20 +0000 2009
12,Jens Ole Christensen,JensOleChriste3,826089006756671488,"Hovedstaden, Danmark","Præst og skribent. Twitter om tro, kultur, pol...",137,351,282,Mon Jan 30 15:25:42 +0000 2017
13,JensRasmussen,JensRas77511670,1011239396878815233,Danmark,"Vi er naturelskere, vi er klimakrigere, vi er ...",301,1940,19349,Mon Jun 25 13:27:14 +0000 2018

With our neat `DataFrame` we can now easily find out details about the data we collected from Twitter.

**Exercise 3. Get information about our data.** Use the `print` function and string operations to make Python tell you in plain language: a) How many unique accounts there are in your data, b) what the name of the _last_ account in your data is, and c) what the sum of followers is for all accounts in your data. That is make Python print out full sentences with the relevant information.

In [124]:
print("Unique accounts in Mette = " + str(Mette_df.name.count()))
#This was my way of solving it, but it didn't work
#print("The last account in the data is" + Mette_df["name"]["created_at"])

print("The last account in the data is " + str(Mette_df.name[11]))
#Here I cannot print the last account, but I can print all other numbers

print("The sum of all followers is " + str(Mette_df["followers_count"]))
#The above is wrong, it gave all the followers for all the different ones

print("The sum of all followers is " + str(sum(Mette_df.followers_count)))

Unique accounts in Mette = 14
The last account in the data is Jyllands-Posten
The sum of all followers is 0       3247
1     136946
2         51
3        555
4       3208
5         50
6        312
7         80
8       3820
9        299
10     12096
11     44269
12       137
13       301
Name: followers_count, dtype: int64
The sum of all followers is 205371

**Exercise 4. Adding data to our DataFrame.** Loop through the indices of your `DataFrame`, collect the timeline for each account using the `user_timeline` method from tweepy, and store them in a new list "timelines". Note that you will want to build in some `sleep` time to avoid running into rate limits. You can find the syntax for how to do this on page 155 and the logic and examples on pages 209-12 in Brooker (2020).

In [125]:
range(len(Mette_df))

range(0, 14)

In [126]:
import time

In [127]:
#This is what I tried to do
#timelines = []

#for index in Mette_df.index:
    #statuses = api.user_timeline(Mette_df.screen_name[index])
    #timelines.append(statuses)
    #time.sleep(5)

In [128]:
timeline = []

for i in Mette_df.index:
    statuses = api.user_timeline(Mette_df.screen_name[i])
    timeline.append(statuses)
    time.sleep(5)
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [129]:
#Here we add the list timelines to our DataFrame Mette_df
timelines = pd.DataFrame({"timelines": timeline})
Mette_df = pd.concat([Mette_df, timelines], axis = 1)

Mette_df

,name,screen_name,id_str,location,description,followers_count,friends_count,statuses_count,created_at,timelines
0,TV MIDTVEST,tvmidtvest,18288708,Midt- og Vestjylland,De bedste og vigtigste nyheder og stærke tv-pr...,3247,129,18252,Sun Dec 21 17:27:04 +0000 2008,[Status(_api=<tweepy.api.API object at 0x121f0...
1,Berlingske,berlingske,15022190,Danmark,Håndplukkede nyheder siden 1749. Men stadig ut...,136946,529,95101,Thu Jun 05 19:23:44 +0000 2008,[Status(_api=<tweepy.api.API object at 0x121f0...
2,Claus Nielsen,cside69,58415869,A place called Vertigo,Manchester United fan since 1982,51,639,2333,Mon Jul 20 07:20:07 +0000 2009,[Status(_api=<tweepy.api.API object at 0x121f0...
3,Det stuerene,detstuerene,1341760441,,Nyhederne fra #dkmedier (uden de tabloide) vi ...,555,5,40879,Wed Apr 10 12:09:12 +0000 2013,[Status(_api=<tweepy.api.API object at 0x121f0...
4,De virale nyheder,deviralenyheder,950601552,,"Nyhederne fra #dkmedier vi deler, anbefaler og...",3208,5,67701,Thu Nov 15 22:59:39 +0000 2012,[Status(_api=<tweepy.api.API object at 0x121f0...
5,Logos21th,baralmueller,950678546195853312,"København, Danmark",Microsoft Azure Administrator Associate | Powe...,50,196,764,Tue Jan 09 10:40:02 +0000 2018,[Status(_api=<tweepy.api.API object at 0x121f0...
6,DanmarksNyheder,DanmarksNyheder,2991802408,Danmark,Danmark - nyheder og debat,312,14,70738,Thu Jan 22 10:00:17 +0000 2015,[Status(_api=<tweepy.api.API object at 0x121f0...
7,Jens Mølhøj Olrik,jensolrik,876421430052884482,"Hovedstaden, Danmark","#startup, #dkpol #dkfinans #sldk #pldk #YNWA #...",80,247,1771,Sun Jun 18 12:48:46 +0000 2017,[Status(_api=<tweepy.api.API object at 0x121f0...
8,OLRIK COMPANY,moelhoej,60563971,"Copenhagen, Denmark",Danmarks bedste twitter profil i mange år #dkm...,3820,4238,33917,Mon Jul 27 10:59:22 +0000 2009,[Status(_api=<tweepy.api.API object at 0x121f0...
9,Morten Buschmann,MortenBuschmann,26982966,Copenhagen,"Krat, buskmand, journalist, Forfatter: Indhent...",299,317,9539,Fri Mar 27 10:49:07 +0000 2009,[Status(_api=<tweepy.api.API object at 0x121f0...
10,JP Politik,jppolitik,3130794100,Christiansborg,@Jyllandsposten’s redaktion på Borgen. Tweeter...,12096,732,22931,Tue Mar 31 13:59:00 +0000 2015,[Status(_api=<tweepy.api.API object at 0x121f0...
11,Jyllands-Posten,jyllandsposten,24665133,Denmark,"Følg Danmarks internationale avis, hvis du vil...",44269,549,174241,Mon Mar 16 08:05:20 +0000 2009,[Status(_api=<tweepy.api.API object at 0x121f0...
12,Jens Ole Christensen,JensOleChriste3,826089006756671488,"Hovedstaden, Danmark","Præst og skribent. Twitter om tro, kultur, pol...",137,351,282,Mon Jan 30 15:25:42 +0000 2017,[Status(_api=<tweepy.api.API object at 0x121f0...
13,JensRasmussen,JensRas77511670,1011239396878815233,Danmark,"Vi er naturelskere, vi er klimakrigere, vi er ...",301,1940,19349,Mon Jun 25 13:27:14 +0000 2018,[Status(_api=<tweepy.api.API object at 0x121f0...

In [130]:
#Now you can see that the label timelines is added

Add your list "timelines" to your current `DataFame`. To do this, we first need to turn our list into a new `DateFrame` with one column labeled `timelines` and then join our two `DateFrames` horizontally, i.e. along `axis = 1`.

### Take a deep breath. This was a major piece of coding.

Now you have the timeline, that is the statuses, for each of your accounts in the `DataFrame`. But these are still in the raw format which the Twitter API returns, so we need to transform them into a format that allows us to to work with them more easily. In the end, we want to get at the the topics and persons our accounts tweet about.

**Exercise 5. Getting the tweet texts from the timeline.** Extract the text from the tweets in each account's timeline, combine them into a list, turn the list of lists into a `DataFrame`, and join the new and old `DataFrames`. One way to do this is to 1) create an empty list 'tweets', 2) loop through the indices in your `DataFrame`, 3) for each index/row loop through the timeline, 4) create a temporary list, append the text for each timeline element to that list, then append the temporary list to 'tweets' 5) turn the list into a `DataFrame` and 6) merge the two `DataFrames` horizontally.

In [137]:
#Now we need to extract text from the tweets in each account's timeline 
#Second we need to combine it in a list.
#Therefor we create an empty list called tweets

tweets = []

#then we need to loop through all the indices 
for i in Mette_df.index:
    tweets_len = int(len(Mette_df.timelines[i]))
    temp_list = []
    for j in range(0,tweets_len):
        temp_list.append(Mette_df.timelines[i][j]._json["text"])
    tweets.append(temp_list)
    print(i)
    
tweets = pd.DataFrame({"tweets": tweets})
Mette_df = pd.concat([Mette_df, tweets], axis = 1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [138]:
Mette_df

,name,screen_name,id_str,location,description,followers_count,friends_count,statuses_count,created_at,timelines,tweets,tweets,tweets,tweets,tweets
0,TV MIDTVEST,tvmidtvest,18288708,Midt- og Vestjylland,De bedste og vigtigste nyheder og stærke tv-pr...,3247,129,18252,Sun Dec 21 17:27:04 +0000 2008,[Status(_api=<tweepy.api.API object at 0x121f0...,"[Statsministeren afviser på Facebook, at hun h...","[Statsministeren afviser på Facebook, at hun h...","[Statsministeren afviser på Facebook, at hun h...","[Statsministeren afviser på Facebook, at hun h...","[Statsministeren afviser på Facebook, at hun h..."
1,Berlingske,berlingske,15022190,Danmark,Håndplukkede nyheder siden 1749. Men stadig ut...,136946,529,95101,Thu Jun 05 19:23:44 +0000 2008,[Status(_api=<tweepy.api.API object at 0x121f0...,[Godmorgen!\n\nVi er halvvejs igennem endnu en...,[Godmorgen!\n\nVi er halvvejs igennem endnu en...,[Godmorgen!\n\nVi er halvvejs igennem endnu en...,[Godmorgen!\n\nVi er halvvejs igennem endnu en...,[Godmorgen!\n\nVi er halvvejs igennem endnu en...
2,Claus Nielsen,cside69,58415869,A place called Vertigo,Manchester United fan since 1982,51,639,2333,Mon Jul 20 07:20:07 +0000 2009,[Status(_api=<tweepy.api.API object at 0x121f0...,[RT @skaarup_df: Ansatte på asylcentrene og de...,[RT @skaarup_df: Ansatte på asylcentrene og de...,[RT @skaarup_df: Ansatte på asylcentrene og de...,[RT @skaarup_df: Ansatte på asylcentrene og de...,[RT @skaarup_df: Ansatte på asylcentrene og de...
3,Det stuerene,detstuerene,1341760441,,Nyhederne fra #dkmedier (uden de tabloide) vi ...,555,5,40879,Wed Apr 10 12:09:12 +0000 2013,[Status(_api=<tweepy.api.API object at 0x121f0...,[Opdatering fra Statens Serum Institut: Færres...,[Opdatering fra Statens Serum Institut: Færres...,[Opdatering fra Statens Serum Institut: Færres...,[Opdatering fra Statens Serum Institut: Færres...,[Opdatering fra Statens Serum Institut: Færres...
4,De virale nyheder,deviralenyheder,950601552,,"Nyhederne fra #dkmedier vi deler, anbefaler og...",3208,5,67701,Thu Nov 15 22:59:39 +0000 2012,[Status(_api=<tweepy.api.API object at 0x121f0...,[Coronavirus: Spanske ældre ligger døde på ple...,[Coronavirus: Spanske ældre ligger døde på ple...,[Coronavirus: Spanske ældre ligger døde på ple...,[Coronavirus: Spanske ældre ligger døde på ple...,[Coronavirus: Spanske ældre ligger døde på ple...
5,Logos21th,baralmueller,950678546195853312,"København, Danmark",Microsoft Azure Administrator Associate | Powe...,50,196,764,Tue Jan 09 10:40:02 +0000 2018,[Status(_api=<tweepy.api.API object at 0x121f0...,[@PUBG wanted to game two weeks ago after a fe...,[@PUBG wanted to game two weeks ago after a fe...,[@PUBG wanted to game two weeks ago after a fe...,[@PUBG wanted to game two weeks ago after a fe...,[@PUBG wanted to game two weeks ago after a fe...
6,DanmarksNyheder,DanmarksNyheder,2991802408,Danmark,Danmark - nyheder og debat,312,14,70738,Thu Jan 22 10:00:17 +0000 2015,[Status(_api=<tweepy.api.API object at 0x121f0...,[Efter hård kritik af Forsvaret: Syge soldater...,[Efter hård kritik af Forsvaret: Syge soldater...,[Efter hård kritik af Forsvaret: Syge soldater...,[Efter hård kritik af Forsvaret: Syge soldater...,[Efter hård kritik af Forsvaret: Syge soldater...
7,Jens Mølhøj Olrik,jensolrik,876421430052884482,"Hovedstaden, Danmark","#startup, #dkpol #dkfinans #sldk #pldk #YNWA #...",80,247,1771,Sun Jun 18 12:48:46 +0000 2017,[Status(_api=<tweepy.api.API object at 0x121f0...,[RT @moelhoej: Statsminister Mette Frederiksen...,[RT @moelhoej: Statsminister Mette Frederiksen...,[RT @moelhoej: Statsminister Mette Frederiksen...,[RT @moelhoej: Statsminister Mette Frederiksen...,[RT @moelhoej: Statsminister Mette Frederiksen...
8,OLRIK COMPANY,moelhoej,60563971,"Copenhagen, Denmark",Danmarks bedste twitter profil i mange år #dkm...,3820,4238,33917,Mon Jul 27 10:59:22 +0000 2009,[Status(_api=<tweepy.api.API object at 0x121f0...,[@beckmikkel @EnzoBeck1 @Boro @losclive @Gazet...,[@beckmikkel @EnzoBeck1 @Boro @losclive @Gazet...,[@beckmikkel @EnzoBeck1 @Boro @losclive @Gazet...,[@beckmikkel @EnzoBeck1 @Boro @losclive @Gazet...,[@beckmikkel @EnzoBeck1 @Boro @losclive @Gazet...
9,Morten Buschmann,MortenBuschmann,26982966,Copenhagen,"Krat, buskmand, journalist, Forfatter: Indhent...",299,317,9539,Fri Mar 27 10:49:07 +0000 2009,[Status(_api=<tweepy.api.API object at 0x121f0...,[@listighjort Og hvad lavede Peter Mygind i po...,[@listighjort Og hvad lavede Peter Mygind i po...,[@listighjort Og hvad lavede Peter Mygind i po...,[@listighjort Og hvad lavede Peter Mygind i po...,[@listighjort Og hvad lavede Peter Mygind i po...
10,JP Politik,jppolitik,3130794100,Christiansborg,@Jyllandsposten’s redaktion på Borgen. Tweeter...,12096,732,22931,Tue Mar 31 13:59:00 +0000 2015,[Status(_api=<tweepy.api.API object at 0x121f0...,[Uffe Elbæk starter nyt politisk projekt med a...,[Uffe Elbæk starter nyt politisk projekt med a...,[Uffe Elbæk starter nyt politisk projekt med a...,[Uffe Elbæk starter nyt politisk projekt med a...,[Uffe Elbæk starter nyt politisk projekt med a...
11,Jyllands-Posten,jyllandsposten,24665133,Denmark,"Følg Danmarks internationale avis, hvis du vil...",44269,549,174241,Mon Mar 16 08:05:20 +0000 2009,[Status(_api=<tweepy.api.API object at 0x121f0...,[Sundhedsøkonom peger på enorm regning per red...,[Sundhedsøkonom peger på enorm regning per red...,[Sundhedsøkonom peger på enorm regning per red...,[Sundhedsøkonom peger på enorm regning per red...,[Sundhedsøkonom peger på enorm regning per red...
12,Jens Ole Christensen,JensOleChriste3,826089006756671488,"Hovedstaden, Danmark","Præst og skribent. Twitter om tro, kultur, pol...",137,351,282,Mon Jan 30 15:25:42 +0000 2017,[Status(_api=<tweepy.api.API object at 0x121f0...,"[@kristeligt Ja, troen og evangeliet finder ve...","[@kristeligt Ja, troen og evangeliet finder ve...","[@kristeligt Ja, troen og evangeliet finder ve...","[@kristeligt Ja, troen og evangeliet finder ve...","[@kristeligt Ja, troen og evangeliet finder ve..."
13,JensRasmussen,JensRas77511670,1011239396878815233,Danmark,"Vi er naturelskere, vi er klimakrigere, vi er ...",301,1940,19349,Mon Jun 25 13:27:14 +0000 2018,[Status(_api=<tweepy.api.API object at 0x121f0...,[@Dunia_Duara @AllonHSorensen Ja helt seriøst....,[@Dunia_Duara @AllonHSorensen Ja helt seriøst....,[@Dunia_Duara @AllonHSorensen Ja helt seriøst....,[@Dunia_Duara @AllonHSorensen Ja helt seriøst....,[@Dunia_Duara @AllonHSorensen Ja helt seriøst....

**Exercise 6. Turning our list of tweet texts into a long string.** To get a sense of what our accounts usually tweet about, it might be useful to have their tweets in one long string that allows us to easily count the words they use. Create a list that holds the long string of tweets for each user. We can concatenate our list of tweets/strings using the [join](https://docs.python.org/2/library/string.html#string.join) command for which you can find a usage example [here](https://stackoverflow.com/a/493842).

Turn the list into a `DataFrame` and merge it with your main `DataFrame` horizontally.

In [146]:
#First we create an empty list, that can hold the long string

text = []

#Now we need to loop through the tweets again, append it to the empty list and join 
for i in Mette_df.index:
    text.append(" ".join({Mette_df["tweets"]:tweets})

text = pd.DataFrame({"text": text})

Mette_df = pd.concat([Mette_df, text], axis = 1)

SyntaxError: invalid syntax (<ipython-input-146-f43814976ce5>, line 9)

**Exercise 7. Finding hashtags and mentions.** Now that we have all the tweets for each account in one long string, we can start looking at the topics the accounts are tweeting about and who they are interacting with. To do so, you can use the [`findall`](https://docs.python.org/3/library/re.html#re.findall) function from the `re` package to extract all hashtags (starting with a "#") and mentions (starting with an "@"). Add one column for hashtags and mentions respectively to your `DataFrame`.

**Exercise 8. Writing your insights to a file.** You have just generated some really awesome insights about the accounts you identified earlier. To share your insights, that is the topics/hashtags your accounts tweet about, you should now write the hashtags to a text file–if you want to remind yourself, we covered this in week 3 day 1. Can you make it so the text file first lists the name and then the hashtags the account uses?

**Exercise 9. Descriptive statistics about your accounts.** We closed last week with talking about descriptive statistics. For the accounts you gathered, there are at least three variables that you might be interested to know more about. What are the minimum, maximum, and mean for the number of followers, friends, and posted statuses in you data?

**Exercise 10. Visualizing influence.** To round off this exercise, let's plot some data from the accounts you collected. Make a bar plot to show which of the accounts has the most influence on Twitter. _Hint:_ You might want to look at `followers_count`.

**Exercise 11. Understanding influence.** Now that you know who is most influential among your accounts, try to see if the data you get from Twitter allows you to explore what might explain that influence. Look into your data and plot the follower count against another variable. Is there a pattern?

**THERE IS ALWAYS MORE.** If you got all the way through this exercise and are still hungry for more, here are some suggestions for other things you could do:

1. To get an even better sense of what your accounts tweet about than just using hashtags, you could count the most used words. Create a list that, for each account has a dictionary of the frequency of each word with stop words removed. Remember, you can reuse your code from W3D1. You can get a list of stop words from [here](http://ir.dcs.gla.ac.uk/resources/linguistic_utils/stop_words). These are also stored in `stop_words.txt`. Add a column to your dataframe for most used words. 
2. Extract the number of favorites and retweets from the timelines you gathered. Is there any relationship between the number of followers and these figures? How about between these figures and the number of friends?
3. Researchers often use Twitter because we can do respondent-driven sampling, i.e. we start with a few accounts and then collect the accounts that follow these accounts to get a broader picture of the network. Start exploring the networks of the accounts you collected using the [`followers`](https://tweepy.readthedocs.io/en/latest/api.html#API.followers) command.
4. Given that the accounts you collected are similar in that they tweet about your topic of choice, it might be interesting know if there are issues that distinguish the accounts. Researchers often use term frequency-inverse document frequency to study such differences. [Here](https://www.freecodecamp.org/news/how-to-process-textual-data-using-tf-idf-in-python-cd2bbc0a94a3/) is a primer on the concept and a tutorial on how to implement it in Python. Can you find distinguishes your accounts from one another?