# Demo W6D1: Data Analysis Tools I - Pandas

<img src="pandas-chaos.jpg" width="400">

### 6.1.1 Series

**Creating series from dictionaries.** First, let's important the `pandas` module, define a dictionary, and see how we can turn it into a series.

In [1]:
import pandas as pd

In [2]:
# # IF THE CELL ABOVE IMPORTING PANDAS THROWS AN ERROR
# # TRY UNCOMMENTING THE LAST TWO LINES IN THIS CELL, THEN RUN IT
# # THEN RERUN THE CELL IMPORTING PANDAS
# import sys
# ! conda install --yes --prefix {sys.prefix} -c conda-forge pandas

In [3]:
violent_rates_dict = {"Belfast East": 13.9,
                      "Belfast North": 24.2,
                      "Belfast South": 20.6,
                      "Belfast West": 25.4
                     }

vrni_series = pd.Series(violent_rates_dict)

Let's look at the dictionary. It contains the by now familiary keys and values.

In [4]:
violent_rates_dict

{'Belfast East': 13.9,
 'Belfast North': 24.2,
 'Belfast South': 20.6,
 'Belfast West': 25.4}

Now, let's look at the same data as a `pandas` series. This is much easier to read, since it comes in a tabular format with one column for indices and one column for values.

In [5]:
vrni_series

Belfast East     13.9
Belfast North    24.2
Belfast South    20.6
Belfast West     25.4
dtype: float64

**Accessing data in a series.** To draw specific content from a `pandas` series, we can use the string indices like in a dictionary.

In [6]:
vrni_series['Belfast East']

13.9

But, we can also use numeric indices like in lists since series are ordered. Using a single numeric index, returns the value stored in the series at the specified position.

In [7]:
vrni_series[0]
#Here we are indexing the first element of the series. What kind of object comes out?

13.9

If we instead specify a range of indices, i.e. slice the data, we get a subset of the series including the character indices, their associated values, and an indicator of the series type.

In [8]:
vrni_series[0:3]
#Down here we are doing it for multiple values in the series.

Belfast East     13.9
Belfast North    24.2
Belfast South    20.6
dtype: float64

**Question.** What is the type of the value returned if we specify one numeric index in the series? What is the type if we slice the list?

As with lists, we can also slice the series at select indices instead of using a range of indices. To do so, we need to index the series using `[[`; where the innermost `[` define a list of indices and the outermost `[` index the series. The cell below returns the first and last entry in the series, first by specifying the numeric index then by specifying the character index.

In [10]:
print(vrni_series[[0,-1]])
print(vrni_series[['Belfast East','Belfast West']])
#Here we index element from the front and the back. The first 0 is the beginning and the negativ is the first from the back
#Also be aware of the dobble brackets here

Belfast East    13.9
Belfast West    25.4
dtype: float64
Belfast East    13.9
Belfast West    25.4
dtype: float64

**Creating series from other data structures.** Now, let's see how we can create series from other data structures than dictionaries, starting with lists.

In [11]:
constituency_names = ["Belfast East", 
                      "Belfast North", 
                      "Belfast South", 
                      "Belfast West"]

violent_rates_list = [13.9,
                      24.2,
                      20.6,
                      25.4]

To create a series from two lists containing values and character indices, we can pass the values as the first argument to the `Series` command and specify the argument `index` as equal to the list of indices.

In [12]:
vrni_series_from_lists = pd.Series(violent_rates_list, index = constituency_names)

vrni_series_from_lists

Belfast East     13.9
Belfast North    24.2
Belfast South    20.6
Belfast West     25.4
dtype: float64

If we want to ensure that we have the same data in the two series we have created so far, we can ask Python to compare them, which will compare the values at each index position to each other.

In [14]:
vrni_series_from_lists == vrni_series
#Here we are comparing two different list to see if they are the same

Belfast East     True
Belfast North    True
Belfast South    True
Belfast West     True
dtype: bool

Or, we can check to see if _all_ values in the series are equal at each index position.

In [15]:
all (vrni_series_from_lists == vrni_series)
#Here we compare all series

True

If we forget to specify the series indices when we create it, we can specify them after the fact by assigning the list of indices to the `index` attribute.

In [16]:
vrni_series_from_lists = pd.Series(violent_rates_list)

vrni_series_from_lists
#Here we can also create a series from a list

0    13.9
1    24.2
2    20.6
3    25.4
dtype: float64

In [17]:
vrni_series_from_lists.index = constituency_names

vrni_series_from_lists

Belfast East     13.9
Belfast North    24.2
Belfast South    20.6
Belfast West     25.4
dtype: float64

**Numerical operations with series.** `Pandas` series can contain any type of data and have different commands applicable to each type of data. For numeric data you might be interested in descriptive statistics which we will cover in the next session. For all types of data, you can count the number of data points in your series using the `count` command. Note that this counts only non-missing data points.

In [18]:
vrni_series_from_lists.count()

4

In [19]:
len(vrni_series_from_lists)

4

Here, we are appending an entry to our `Series` with a missing value.

In [23]:
import numpy as np

vrni_series_with_missing = vrni_series_from_lists.append(pd.Series(np.NaN))

vrni_series_with_missing
#Here we a counting the missing values. E.g. if you want to know how many people haven't answered a specific question

Belfast East     13.9
Belfast North    24.2
Belfast South    20.6
Belfast West     25.4
0                 NaN
dtype: float64

In [21]:
vrni_series_with_missing.count()
#Here count will count the missing values. So we know that there are four missing values

4

In [22]:
len(vrni_series_with_missing)

5

### 6.1.2 DataFrames

**Creating DataFrames from dictionaries.** In most applied cases, you will be interested to have more than one value associated with each observation. To accommodate this, `pandas` introduces `DataFrame` containers which we can also construct from dictionaries.

Below, we first define two additional lists containing values for our constituencies, then we construct a dictionary from the four lists and keys we assign to them. Finally, we turn this complex dictionary containing four keys and values consisting of lists into a neat `DataFrame`.

In [24]:
theft_rates = [7.6, 11.2, 14.7, 10.9]
veh_crime_rates = [1.8, 3.4, 4.5, 5.6]

#Here we create the keys and add the values to the keys. Afterwards we put this in to our dataframe
complex_dictionary = {"Name": constituency_names,
                      "Violence Rate": violent_rates_list,
                      "Theft Rate": theft_rates,
                      "Veh Crime Rate": veh_crime_rates}

df_from_dict = pd.DataFrame(complex_dictionary)

What does the dictionary look like?

In [25]:
complex_dictionary
#Now we print our new datafrana

{'Name': ['Belfast East', 'Belfast North', 'Belfast South', 'Belfast West'],
 'Violence Rate': [13.9, 24.2, 20.6, 25.4],
 'Theft Rate': [7.6, 11.2, 14.7, 10.9],
 'Veh Crime Rate': [1.8, 3.4, 4.5, 5.6]}

And what does the same data look like in a `DataFrame` container?

In [26]:
df_from_dict

            Name  Violence Rate  Theft Rate  Veh Crime Rate
0   Belfast East           13.9         7.6             1.8
1  Belfast North           24.2        11.2             3.4
2  Belfast South           20.6        14.7             4.5
3   Belfast West           25.4        10.9             5.6

**Creating DataFrames from other data structures.** First, a `DataFrame` out of lists of tuples.

In [28]:
list_of_tuples = [("Belfast East", 13.9, 7.6, 1.8),
                  ("Belfast North", 24.2, 11.2, 3.4),
                  ("Belfast South", 20.6, 14.7, 4.5),
                  ("Belfast West", 25.4, 10.9, 5.6)]

df_from_list_of_tuples = pd.DataFrame(list_of_tuples)
#Here we pass the list of tuples to the dataframe function

This also creates a neat `DataFrame` but does not give us the column headings or variable names.

In [29]:
df_from_list_of_tuples

               0     1     2    3
0   Belfast East  13.9   7.6  1.8
1  Belfast North  24.2  11.2  3.4
2  Belfast South  20.6  14.7  4.5
3   Belfast West  25.4  10.9  5.6

Second, a `DataFrame` out of a list of dictionaries.

In [31]:
list_of_dicts = [{"Name": "Belfast East",
                  "Violence Rate": 13.9,
                  "Theft Rate": 7.6,
                  "Veh Crime Rate": 1.8},
                 {"Name": "Belfast North", 
                  "Violence Rate": 24.2,
                  "Theft Rate": 11.2, 
                  "Veh Crime Rate": 3.4},
                 {"Name": "Belfast South", 
                  "Violence Rate": 20.6, 
                  "Theft Rate": 14.7,
                  "Veh Crime Rate": 4.5},
                 {"Name": "Belfast West", 
                  "Violence Rate": 25.4, 
                  "Theft Rate": 10.9, 
                  "Veh Crime Rate": 5.6}]

df_from_list_of_dicts = pd.DataFrame(list_of_dicts)

#Here we could fx have a dictionary for each student, and add them into a dataframe function

Another neat `DataFrame` with column headings.

In [32]:
df_from_list_of_dicts

            Name  Violence Rate  Theft Rate  Veh Crime Rate
0   Belfast East           13.9         7.6             1.8
1  Belfast North           24.2        11.2             3.4
2  Belfast South           20.6        14.7             4.5
3   Belfast West           25.4        10.9             5.6

**Accessing data in a DataFrame.** Like a `pandas` `Series`, we can access the data in a `DataFrame` using string and numeric indices.

To access the `Name` column, we can index it by it's string name.

In [34]:
df_from_dict['Name']
#This is an easy way to find all the names in the column

0     Belfast East
1    Belfast North
2    Belfast South
3     Belfast West
Name: Name, dtype: object

Or access it from the `DataFrame` attribute `Name`.

In [35]:
df_from_dict.Name
#

0     Belfast East
1    Belfast North
2    Belfast South
3     Belfast West
Name: Name, dtype: object

**Question.** What happens if we try to access the column "Veh Crime Rate" as an attribute of our `DataFrame`?

If we don't know the name of the column, we want to index, we can look up all names using the `columns` attribute.

In [37]:
df_from_dict.columns
#Here we don't have so many columns, but sometimes we do, and then it is very nice to get an overview

Index(['Name', 'Violence Rate', 'Theft Rate', 'Veh Crime Rate'], dtype='object')

In addition to looking at the column indices, we can also set them by assigning a list of strings with the length of the columns to the column attribute.

In [38]:
df_from_dict.columns = ['Name', 'ViolenceRate', 'TheftRate', 'VehCrimeRate']

In [39]:
df_from_dict.VehCrimeRate
#then we have the data

0    1.8
1    3.4
2    4.5
3    5.6
Name: VehCrimeRate, dtype: float64

Using numeric indices, allows us to access the rows in the `DataFrame` and functions analogous to indexing lists, i.e. `[StartIndex:EndIndex:StepLength]`

In [40]:
df_from_dict[0::2]
#Here the : means that we are going to the end, and the :2 means that we want every second row

            Name  ViolenceRate  TheftRate  VehCrimeRate
0   Belfast East          13.9        7.6           1.8
2  Belfast South          20.6       14.7           4.5

We can also access the same rows by passing a list of booleans (True/False) to the indexing brackets. NB that there are two sets of `[`, one for the indexing the other to define the list of booleans.

In [41]:
df_from_dict[[True, False, True, False]]
#This is another way of writing a list or a data frame, where we get the same as above. We get the second value here as well

            Name  ViolenceRate  TheftRate  VehCrimeRate
0   Belfast East          13.9        7.6           1.8
2  Belfast South          20.6       14.7           4.5

As with `Series`, we can add a character `index` to our `DataFrame` that we can then use to index the values in specific cells.

In [42]:
constituency_initials = ["BE", "BN", "BS", "BW"]
#Here we are creating a list of labels that we want to use. Then we add it to our dict
df_from_dict.index = constituency_initials

df_from_dict
#Below we can now see that BE is the same as Belfast East and so on

             Name  ViolenceRate  TheftRate  VehCrimeRate
BE   Belfast East          13.9        7.6           1.8
BN  Belfast North          24.2       11.2           3.4
BS  Belfast South          20.6       14.7           4.5
BW   Belfast West          25.4       10.9           5.6

In [46]:
df_from_dict[df_from_dict["VehCrimeRate"]["BE"] > 4]
#If we want to go back to VehCrimeRate  and see if it above 4

KeyError: False

Beyond accessing rows through their position, we can also subset the `DataFrame` according to specific conditions. So, if we only wanted to look at constituencies that have a vehicle crime rate above 4, we would do.

In [47]:
df_from_dict[df_from_dict["VehCrimeRate"] > 4]

             Name  ViolenceRate  TheftRate  VehCrimeRate
BS  Belfast South          20.6       14.7           4.5
BW   Belfast West          25.4       10.9           5.6

In addition to subsetting by inclusion, i.e. saying we want to look at specific columns we can also subset by exclusion using the `drop` command and specifying the `axis` argument as `1` to subset columns and `0` to subset rows.

In [48]:
df_from_dict.drop(["ViolenceRate"], axis = 1)
#This is going to drop along the columns with violenceRate. Here we drop the violencerate

             Name  TheftRate  VehCrimeRate
BE   Belfast East        7.6           1.8
BN  Belfast North       11.2           3.4
BS  Belfast South       14.7           4.5
BW   Belfast West       10.9           5.6

In [49]:
df_from_dict.drop(["BE"], axis = 0)
#Here we do not drop the violencerate

             Name  ViolenceRate  TheftRate  VehCrimeRate
BN  Belfast North          24.2       11.2           3.4
BS  Belfast South          20.6       14.7           4.5
BW   Belfast West          25.4       10.9           5.6

**Question.** Looking at the cell above and knowing how indexing rows works, can you tell how subsetting here works?

In [ ]:
#The above checks whtether our index equals BE. Here we only get the list that are equal to BE- 
#We see if the criteria is satisfied or else it removes the column. Here the axis is 0.

**Manipulating existing DataFrames.** So far, we have only asked Python to show us different slices of our data but we can also manipulate the underlying data such as subset it permanently or add rows or columns.

The cell below creates a subset of our original data only containing the constituencies that have a vehicle crime rate above 4.

In [50]:
df_from_dict_highVehCrimeRate = df_from_dict[df_from_dict["VehCrimeRate"] > 4]

df_from_dict_highVehCrimeRate

#If you want to create a dataframe that include highVehCrime in it, you create it this way.

             Name  ViolenceRate  TheftRate  VehCrimeRate
BS  Belfast South          20.6       14.7           4.5
BW   Belfast West          25.4       10.9           5.6

To add a row to our exisiting `DateFrame`, we first need to define the new row, turn it into a `DataFrame` object and then use the append command. NB we are setting the `ignore_index` argument to `True` here which removes our string row indices and also provides us with consistent row indices.

In [51]:
new_row = [{"Name": "East Antrim",
            "ViolenceRate": 9.7,
            "TheftRate": 4.5,
            "VehCrimeRate": 0.9}]
#Here a list containing a dictionary

new_row_df = pd.DataFrame(new_row)

df_from_dict_longer = df_from_dict.append(new_row_df, ignore_index = True)
#the argument about ignore index tells us to get rid of all indecies we had in our previous data
#We want to create new indices for our new data. Our else we end up with inconsistences. 

df_from_dict_longer

#Here we added an additional value which is East Antrim

#The same way can we do for our dataframe.

            Name  ViolenceRate  TheftRate  VehCrimeRate
0   Belfast East          13.9        7.6           1.8
1  Belfast North          24.2       11.2           3.4
2  Belfast South          20.6       14.7           4.5
3   Belfast West          25.4       10.9           5.6
4    East Antrim           9.7        4.5           0.9

If we did not set the `ignore_index` argument to `True`, we would either end up with inconsistent row indices

In [54]:
df_from_dict_inconsistent = df_from_dict.append(new_row_df)

df_from_dict_inconsistent

             Name  ViolenceRate  TheftRate  VehCrimeRate
BE   Belfast East          13.9        7.6           1.8
BN  Belfast North          24.2       11.2           3.4
BS  Belfast South          20.6       14.7           4.5
BW   Belfast West          25.4       10.9           5.6
0     East Antrim           9.7        4.5           0.9

Or we would end up with duplicate indices, which can lead to unexpected indexing behavior.

In [55]:
df_from_list_of_dicts.columns = ['Name', 'ViolenceRate', 'TheftRate', 'VehCrimeRate']

df_from_list_of_dicts_duplicate_indices = df_from_list_of_dicts.append(new_row_df)

df_from_list_of_dicts_duplicate_indices

            Name  ViolenceRate  TheftRate  VehCrimeRate
0   Belfast East          13.9        7.6           1.8
1  Belfast North          24.2       11.2           3.4
2  Belfast South          20.6       14.7           4.5
3   Belfast West          25.4       10.9           5.6
0    East Antrim           9.7        4.5           0.9

In [56]:
df_from_list_of_dicts_duplicate_indices["Name"][0]

0    Belfast East
0     East Antrim
Name: Name, dtype: object

## 6.1.3 Pandas for easy import and manipulation of tabular data

As we briefly touched upon in previous sessions, `Pandas` also has built-in functionality to import all kinds of tabular data which we can then manipulate with our knowledge about how to work with `DataFrames`. So rather than reading last weeks causes of death CSV line by line, we can do:

In [ ]:
us_deaths_2016 = pd.read_csv('nchs_death_causes.csv')

us_deaths_2016

Now, with the death data in a `DataFrame`, we can easily subset the data. For example, if we want to only look at deaths attributable to accidents or Alzheimer's disease, we could use the `DataFrame` method `isin` test whether the cause for a given row is one of either.

In [ ]:
accidents_alzheimer_2016 = us_deaths_2016[us_deaths_2016["Cause Name"].isin(["Unintentional injuries", "Alzheimer's disease"])]

accidents_alzheimer_2016

And plot it just as easily.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(accidents_alzheimer_2016['Age-adjusted Death Rate'][accidents_alzheimer_2016['Cause Name'] == 'Unintentional injuries'],
         accidents_alzheimer_2016['Age-adjusted Death Rate'][accidents_alzheimer_2016['Cause Name'] == "Alzheimer's disease"], 
         'o')

In [ ]:
plt.hist(accidents_alzheimer_2016['Age-adjusted Death Rate'][accidents_alzheimer_2016['Cause Name'] == "Alzheimer's disease"])