# Exercise W7D1: Review and Putting it All Together

This exercise aims to draw together the topics we have covered in the _Base Camp_ portion of the Digital Methods class. At the end of the exercise, you should have a `DataFrame` with each row containing information on a Twitter account including their tweets, friends, followers, hashtags and mentions as well as some descriptive statistics.

You will be able to reuse and modify this code for the second half of digital methods to download and analyze tweets for your projects. So, this exercise should provide you with a solid review of different things we have learned and help you for the the rest of the course.

**Exercise 1. Identify a topic, authenticate, and get data.** First, identify a topic of interest to you and think about a keyword or hashtag capturing the topic. Possible topics could be Corona or Climate, but you are welcome to choose something else. Then load the `tweepy` module and use the built-in functionality to `search` Twitter for your keyword or hashtag. Create a variable that contains the data returned by your search.

See [here](http://docs.tweepy.org/en/latest/api.html#help-methods) for more information about the `search` method.

In [2]:
import sys

In [4]:
import tweepy
print(tweepy.__version__)

3.8.0

In [5]:
from AppCred import CONSUMER_KEY, CONSUMER_SECRET
from AppCred import ACCESS_TOKEN, ACCESS_TOKEN_SECRET

In [6]:
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)

In [7]:
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)

In [8]:
api = tweepy.API(auth)

In [25]:
#api.update_status("Farvel")

In [88]:
Mette = api.search("Mette Frederiksen")
#print(Mette)

In [79]:
mette_tweets = []
for element in Mette:
    #Her går vi ind i hele ovenstående search og looper igennem. 
    #så looper vi igennem
    print(element._json["text"])
    #Her printer vi altså alle tekst afsnit!
    a=element._json["text"]
    mette_tweets.append(a)

RT @Mesquitanessa: Enquanto lá a primeira-ministra dinamarquesa, Mette Frederiksen, defendeu o jornal e disse que há liberdade de opinião;…
RT @Mesquitanessa: Enquanto lá a primeira-ministra dinamarquesa, Mette Frederiksen, defendeu o jornal e disse que há liberdade de opinião;…
RT @Mesquitanessa: Enquanto lá a primeira-ministra dinamarquesa, Mette Frederiksen, defendeu o jornal e disse que há liberdade de opinião;…
@FrederikBarfoed @larsloekke @Spolitik Poul Schlüter
Poul Nyrup
Anders Fogh
Lars Løkke
Helle Thorning
Lars Løkke
Me… https://t.co/bPrywwWmcE
Forsker: Heldigvis var dronningen mere klar i mælet end Mette Frederiksen https://t.co/w3d8j5LiRR #COVID19dk via @politiken
Forsker: Heldigvis var dronningen mere klar i mælet end Mette Frederiksen https://t.co/XO4bp3aStg #COVID19dk
RT @Mesquitanessa: Enquanto lá a primeira-ministra dinamarquesa, Mette Frederiksen, defendeu o jornal e disse que há liberdade de opinião;…
Enquanto lá a primeira-ministra dinamarquesa, Mette Frederiksen, defendeu o jornal e disse que há liberdade de opin… https://t.co/IBYpWq2L0T
Det er ikke populært at mene i den her tid.

Men ser man på fakta, så er det desværre virkeligheden

@Statsmin… https://t.co/nBw5efPLeF
RT @sandeep_PT: The government of Denmark is promising to cover 75 per cent of employees’ salaries for three months if firms promise not to…
RT @kennipoulsen: Mette Frederiksen på næste pressemøde når udgangsforbuddet bliver en realitet #COVID19dk https://t.co/d1iGQYUNfW https://…
RT @sandeep_PT: The government of Denmark is promising to cover 75 per cent of employees’ salaries for three months if firms promise not to…

In [81]:
mette_tweets
#Lidt svært at forstå, hvorfor der ikke kommer flere tweets?

['RT @Mesquitanessa: Enquanto lá a primeira-ministra dinamarquesa, Mette Frederiksen, defendeu o jornal e disse que há liberdade de opinião;…',
 'RT @Mesquitanessa: Enquanto lá a primeira-ministra dinamarquesa, Mette Frederiksen, defendeu o jornal e disse que há liberdade de opinião;…',
 'RT @Mesquitanessa: Enquanto lá a primeira-ministra dinamarquesa, Mette Frederiksen, defendeu o jornal e disse que há liberdade de opinião;…',
 '@FrederikBarfoed @larsloekke @Spolitik Poul Schlüter\nPoul Nyrup\nAnders Fogh\nLars Løkke\nHelle Thorning\nLars Løkke\nMe… https://t.co/bPrywwWmcE',
 'Forsker: Heldigvis var dronningen mere klar i mælet end Mette Frederiksen https://t.co/w3d8j5LiRR #COVID19dk via @politiken',
 'Forsker: Heldigvis var dronningen mere klar i mælet end Mette Frederiksen https://t.co/XO4bp3aStg #COVID19dk',
 'RT @Mesquitanessa: Enquanto lá a primeira-ministra dinamarquesa, Mette Frederiksen, defendeu o jornal e disse que há liberdade de opinião;…',
 'Enquanto lá a primeira-ministra dinamarquesa, Mette Frederiksen, defendeu o jornal e disse que há liberdade de opin… https://t.co/IBYpWq2L0T',
 'Det er ikke populært at mene i den her tid.\n\nMen ser man på fakta, så er det desværre virkeligheden \n\n@Statsmin… https://t.co/nBw5efPLeF',
 'RT @sandeep_PT: The government of Denmark is promising to cover 75 per cent of employees’ salaries for three months if firms promise not to…',
 'RT @kennipoulsen: Mette Frederiksen på næste pressemøde når udgangsforbuddet bliver en realitet #COVID19dk https://t.co/d1iGQYUNfW https://…',
 'RT @sandeep_PT: The government of Denmark is promising to cover 75 per cent of employees’ salaries for three months if firms promise not to…']

In [77]:
len(Mette)

12

In [82]:
type(Mette)

tweepy.models.SearchResults

Now we have an object containing a number of tweets pertaining to our topic of interest. As you might remember, by default the Twitter API returns the data to us in JSON format. Now that we know about the elegance and beauty of `DataFrames`, we would prefer to work with that format of data rather than a dictionary-style JSON.

**Exercise 2. Turn raw API data into a DataFrame.** Your search returned a set of tweets about your chosen topic. Construct a `DataFrame` from your Twitter search object of the people who are tweeting about that topic that, at minimum, contains the unique `screen_names`, `followers_count`, `friends_count`, and `statuses_count` returned from your search. 

There are a number of ways to do this so you might want to review how to construct `DataFrames` (W6D1-Demo). You may also want to review navigating JSON objects (W4D2-Exercise_solutions). Also, your returned data might include the same account multiple times, so you will want to make sure that you are listing the account only once in your `DataFrame`.

In [44]:
import pandas as pd
import numpy as np
#her går vi over til at arbejde med dataframes i stedet for json

In [83]:
#Now we want to create lists containing e.g. followers, friends etc. 
names = []
screen_names = []
id_str = []
location = []
description = []
followers_count = []
friends_count = []
statuses_count = []
created_at = []

In [84]:
for tweet in Mette:
    if (tweet._json['user']['screen_name'] not in screen_names):
        names.append(tweet._json['user']['name'])
        screen_names.append(tweet._json['user']['screen_name'])
        id_str.append(tweet._json['user']['id'])
        location.append(tweet._json['user']['location'])
        description.append(tweet._json['user']['description'])
        followers_count.append(tweet._json['user']['followers_count'])
        friends_count.append(tweet._json['user']['friends_count'])
        statuses_count.append(tweet._json['user']['statuses_count'])
        created_at.append(tweet._json['user']['created_at'])

In [85]:
print(screen_names)

['officialkuyou', 'PbakP', 'lildelima', 'Julioseibei', 'MarcosA51741778', 'TorbenOlsen9', 'CoronavirusDk', 'politiken', 'GilHosana', 'Mesquitanessa', 'DanmarksFremtid', 'karthy']

In [67]:
print(friends_count)

[363, 1115, 5001, 52, 18, 123, 1833, 12020, 930, 430, 201, 407]

In [68]:
print(statuses_count)

[7019, 19596, 134103, 17, 430, 112639, 92722, 8093, 19018, 2140, 5128, 1456]

In [69]:
print(created_at)

['Tue Oct 20 14:12:50 +0000 2009', 'Sat Oct 21 17:24:19 +0000 2017', 'Thu Oct 03 19:56:38 +0000 2013', 'Sun Dec 17 20:33:09 +0000 2017', 'Mon Mar 09 13:04:28 +0000 2020', 'Wed May 28 05:35:50 +0000 2008', 'Thu Oct 31 20:15:39 +0000 2013', 'Thu Oct 27 22:23:22 +0000 2011', 'Fri Apr 24 00:28:19 +0000 2009', 'Sat Jun 21 09:57:40 +0000 2008', 'Thu Nov 21 14:03:24 +0000 2013', 'Sun May 25 16:09:04 +0000 2014']

In [70]:
print(location)

['Groningen, Nederland', '', 'Rio de janeiro', '', '', 'Copenhagen, Denmark', 'Belo Horizonte, Brasil', 'Magé, Brasil', 'Herning', 'Bengaluru', 'København', '']

In [93]:
print(description)

['Cuma Pengen Kasih Tau Apa yang Gue Tau! \njangan lupa cek instagramnya kuyou juga yak guys\ndi @kuyou.id', 'Digital entrepreneur', '', 'Una-se aos bons e serás um deles!', 'Administração', '', 'Tweeter om coronavirus', 'Landsdækkende nyhedsmedie siden 1884. Ansvarlig for denne Twitterkonto: @proeschold', 'Liberdade com Responsabilidade.                        \n\n        Pós- graduação : Pedagogia Empresarial', 'Brasileiro, feliz, casado e com filhos.\nAcredito na Direita Unida por um Brasil mais forte.', 'Debatindlæg skrevet af borgerlige til borgerlige. Borgerlige der vil Danmark.  Send debatindlæg til kontakt@danmarksfremtid.dk /@edtwodthnb', 'Entrepreneur - CarePro Global, Loving Husband, Responsible Son, Guiding Brother, Delighted father and I believe lot more to come :)']

In [74]:
Mette_dictionary = {
    "name": names,
    "screen_name": screen_names,
    "id_str": id_str,
    "location": location,
    "description": description,
    "followers_count": followers_count,
    "friends_count": friends_count,
    "statuses_count": statuses_count,
    "created_at": created_at
}

In [87]:
Mette_df = pd.DataFrame(Mette_dictionary)
Mette_df

,name,screen_name,id_str,location,description,followers_count,friends_count,statuses_count,created_at
0,lilia araujo,lildelima,83851959,"Groningen, Nederland",,386,363,7019,Tue Oct 20 14:12:50 +0000 2009
1,Seibei,Julioseibei,921789257722810371,,Una-se aos bons e serás um deles!,583,1115,19596,Sat Oct 21 17:24:19 +0000 2017
2,Marcos Oliveira #Dia15EuVouApoiarBolsonaro,MarcosA51741778,1931861250,Rio de janeiro,Administração,3841,5001,134103,Thu Oct 03 19:56:38 +0000 2013
3,Torben Olsen,TorbenOlsen9,942492887857745920,,,1,52,17,Sun Dec 17 20:33:09 +0000 2017
4,coronavirus.dk,CoronavirusDk,1237001270445182976,,Tweeter om coronavirus,39,18,430,Mon Mar 09 13:04:28 +0000 2020
5,Politiken,politiken,14930764,"Copenhagen, Denmark",Landsdækkende nyhedsmedie siden 1884. Ansvarli...,224699,123,112639,Wed May 28 05:35:50 +0000 2008
6,Hosana 15/03 Eu Fui e foi Maravilhoso 💚💛,GilHosana,2162315429,"Belo Horizonte, Brasil",Liberdade com Responsabilidade. ...,1077,1833,92722,Thu Oct 31 20:15:39 +0000 2013
7,🇧🇷Vaz🇧🇷,Mesquitanessa,399703101,"Magé, Brasil","Brasileiro, feliz, casado e com filhos.\nAcred...",11995,12020,8093,Thu Oct 27 22:23:22 +0000 2011
8,DanmarksFremtid.dk,DanmarksFremtid,34784558,Herning,Debatindlæg skrevet af borgerlige til borgerli...,285,930,19018,Fri Apr 24 00:28:19 +0000 2009
9,Karthik,karthy,15188741,Bengaluru,"Entrepreneur - CarePro Global, Loving Husband,...",218,430,2140,Sat Jun 21 09:57:40 +0000 2008
10,Anders Hooge,andershooge,2189956720,København,Digital projektleder.\nHavde en drøm om at twe...,200,201,5128,Thu Nov 21 14:03:24 +0000 2013
11,Vedank,vedank31,2523016843,,,72,407,1456,Sun May 25 16:09:04 +0000 2014

With our neat `DataFrame` we can now easily find out details about the data we collected from Twitter.

**Exercise 3. Get information about our data.** Use the `print` function and string operations to make Python tell you in plain language: a) How many unique accounts there are in your data, b) what the name of the _last_ account in your data is, and c) what the sum of followers is for all accounts in your data. That is make Python print out full sentences with the relevant information.

In [95]:
print("Unique accounts in Mette = " + str(Mette_df.name.count()))
print("The last account in the data is" + Mette_df["name"]["created_at"])

Unique accounts in Mette = 12

KeyError: 'created_at'

**Exercise 4. Adding data to our DataFrame.** Loop through the indices of your `DataFrame`, collect the timeline for each account using the `user_timeline` method from tweepy, and store them in a new list "timelines". Note that you will want to build in some `sleep` time to avoid running into rate limits. You can find the syntax for how to do this on page 155 and the logic and examples on pages 209-12 in Brooker (2020).

Add your list "timelines" to your current `DataFame`. To do this, we first need to turn our list into a new `DateFrame` with one column labeled `timelines` and then join our two `DateFrames` horizontally, i.e. along `axis = 1`.

### Take a deep breath. This was a major piece of coding.

Now you have the timeline, that is the statuses, for each of your accounts in the `DataFrame`. But these are still in the raw format which the Twitter API returns, so we need to transform them into a format that allows us to to work with them more easily. In the end, we want to get at the the topics and persons our accounts tweet about.

**Exercise 5. Getting the tweet texts from the timeline.** Extract the text from the tweets in each account's timeline, combine them into a list, turn the list of lists into a `DataFrame`, and join the new and old `DataFrames`. One way to do this is to 1) create an empty list 'tweets', 2) loop through the indices in your `DataFrame`, 3) for each index/row loop through the timeline, 4) create a temporary list, append the text for each timeline element to that list, then append the temporary list to 'tweets' 5) turn the list into a `DataFrame` and 6) merge the two `DataFrames` horizontally.

**Exercise 6. Turning our list of tweet texts into a long string.** To get a sense of what our accounts usually tweet about, it might be useful to have their tweets in one long string that allows us to easily count the words they use. Create a list that holds the long string of tweets for each user. We can concatenate our list of tweets/strings using the [join](https://docs.python.org/2/library/string.html#string.join) command for which you can find a usage example [here](https://stackoverflow.com/a/493842).

Turn the list into a `DataFrame` and merge it with your main `DataFrame` horizontally.

**Exercise 7. Finding hashtags and mentions.** Now that we have all the tweets for each account in one long string, we can start looking at the topics the accounts are tweeting about and who they are interacting with. To do so, you can use the [`findall`](https://docs.python.org/3/library/re.html#re.findall) function from the `re` package to extract all hashtags (starting with a "#") and mentions (starting with an "@"). Add one column for hashtags and mentions respectively to your `DataFrame`.

**Exercise 8. Writing your insights to a file.** You have just generated some really awesome insights about the accounts you identified earlier. To share your insights, that is the topics/hashtags your accounts tweet about, you should now write the hashtags to a text file–if you want to remind yourself, we covered this in week 3 day 1. Can you make it so the text file first lists the name and then the hashtags the account uses?

**Exercise 9. Descriptive statistics about your accounts.** We closed last week with talking about descriptive statistics. For the accounts you gathered, there are at least three variables that you might be interested to know more about. What are the minimum, maximum, and mean for the number of followers, friends, and posted statuses in you data?

**Exercise 10. Visualizing influence.** To round off this exercise, let's plot some data from the accounts you collected. Make a bar plot to show which of the accounts has the most influence on Twitter. _Hint:_ You might want to look at `followers_count`.

**Exercise 11. Understanding influence.** Now that you know who is most influential among your accounts, try to see if the data you get from Twitter allows you to explore what might explain that influence. Look into your data and plot the follower count against another variable. Is there a pattern?

**THERE IS ALWAYS MORE.** If you got all the way through this exercise and are still hungry for more, here are some suggestions for other things you could do:

1. To get an even better sense of what your accounts tweet about than just using hashtags, you could count the most used words. Create a list that, for each account has a dictionary of the frequency of each word with stop words removed. Remember, you can reuse your code from W3D1. You can get a list of stop words from [here](http://ir.dcs.gla.ac.uk/resources/linguistic_utils/stop_words). These are also stored in `stop_words.txt`. Add a column to your dataframe for most used words. 
2. Extract the number of favorites and retweets from the timelines you gathered. Is there any relationship between the number of followers and these figures? How about between these figures and the number of friends?
3. Researchers often use Twitter because we can do respondent-driven sampling, i.e. we start with a few accounts and then collect the accounts that follow these accounts to get a broader picture of the network. Start exploring the networks of the accounts you collected using the [`followers`](https://tweepy.readthedocs.io/en/latest/api.html#API.followers) command.
4. Given that the accounts you collected are similar in that they tweet about your topic of choice, it might be interesting know if there are issues that distinguish the accounts. Researchers often use term frequency-inverse document frequency to study such differences. [Here](https://www.freecodecamp.org/news/how-to-process-textual-data-using-tf-idf-in-python-cd2bbc0a94a3/) is a primer on the concept and a tutorial on how to implement it in Python. Can you find distinguishes your accounts from one another?